body {
    margin: 0;
    background-color: #FBFBFB;
    font-family: 'Heebo', serif;
    width:100vw;
    height:100vh;
    user-select: none;
}
p{
    margin:0;
}

.main {
    width: 100vw;
    height: 100vh;
    background-color: #FBFBFB;
    font-family: Heebo, serif;
    user-select: none;
    display: flex;
    flex-direction: column;
}

.bottom_menu {
    width: 100vw;
    height: 10vh;
    background-color: #FBFBFB;
    box-shadow: 0 0 4px rgba(46, 46, 46, 0.25);
    display: flex;
}

.bottom_menu > * {
    height: inherit;
    align-items: center;
    display: flex;
}

.bottom_menu_left, .bottom_menu_right {
    width: 15%;
}

.bottom_menu_middle {
    width: 70%;
}

.bottom_menu_left > * {
    margin: 10px 30px;
    width: 100%;
}

#logo {
    width: 100%;
    display: block;
}

.vertical_line {
    height: 50%;
    width: 1px;
    background-color: rgb(213, 213, 213);
}

.left {
    float: left;
    margin-right: auto;
}

.right {
    float: right;
    margin-left: auto;
}

.bottom_menu_right .user_info, .bottom_menu_right .user_info > * {
    margin: auto;
    text-align: center;
}

.bottom_menu_middle .buttons {
    justify-content: space-evenly;
    width: 100%;
    display: flex;
}

.bottom_menu_middle .buttons .content {
    width: 10%;
    overflow: hidden;
    text-align: center;
}

.bottom_menu_middle .buttons .content > * {
    width: 30%;
    display: block;
    margin: auto;
}

.bottom_menu_middle .buttons .content img {
    margin-bottom: 7px;
    pointer-events: none;
}

.button {
    color: black;
}

.button:hover {
    filter: invert(50%);
    transition: 0.25s ease-in-out;
    cursor: pointer;
}

.interface {
    height: 90vh;
    width: 100vw;
    overflow-x: hidden;
    white-space: nowrap;
}

.interface .info_box {
    width: calc(21vw - 20px);
    min-width: calc(21vw - 20px);
    background-color: #FBFBFB;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(46, 46, 46, 0.11);
    overflow: hidden;
    margin-top: 3vh;
    margin-left: 2%;
    margin-right: 2%;
    max-height: 82vh;
    white-space: normal;
    /*text-overflow: ellipsis;*/
    word-wrap: break-word;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.interface .info_box:hover {
    box-shadow: 0 0 80px rgba(46, 46, 46, 0.33);
    transition: 0.2s ease-in-out;
}

.info_box .info_box_content {
    overflow-y: auto;
    height: inherit;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.dot_scroller {
    position: absolute;
    background-color: #FBFBFB;
    box-shadow: 0 0 40px rgba(46, 46, 46, 0.25);

    min-width: 50px;
    width: 50px;
    height: 20px;
    border-radius: 10px;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 11vh;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #2E2E2E;
    margin-left: auto;
    margin-right: auto;
}

.dot_button {
    height: inherit;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.dot_button:hover {
    cursor: pointer;
}

.dot_button:hover > .dot {
    background-color: rgba(46, 46, 46, 0.28);
    transition: 0.25s ease-in-out;
}

.simplebar-wrapper {
    height: available;
}

.info_container {
    height: inherit;
    display: inline-block;
    width: inherit;
    vertical-align: top;
}

.info_container > * {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: inherit;
    width: inherit;
}

.info_box_content .title {
    font-size: 4vh;
    color: #2E2E2E;
}

.horizontal_line {
    height: 1px;
    width: 100%;
    background-color: #2E2E2E;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.list_info {
    text-transform: capitalize;
    font-size: 1.5vh;
    margin-bottom: 20px;
}

.list_info td {
    width: 50%;
}

table {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.cell_title {
    font-size: 2vh;
}

.graph {
    width: 100%;
}

img {
    width: 100%;
}

body,html{
    margin: 0;
}
