.orders tr:nth-child(even) {
    background: rgba(204, 204, 204, 0.2);
    border-top:1px solid rgba(46, 46, 46, 0.42);
    border-bottom:1px solid rgba(46, 46, 46, 0.42);
}

.orders tr:last-child{
    border-bottom: 0;
}

.orders tr td:nth-child(1) {
    text-align: center;
    border-right: 1px solid rgba(46, 46, 46, 0.42);
    flex-grow: 1;
}

.orders tr td:nth-child(2) {
    border-right: 1px solid rgba(46, 46, 46, 0.42);
    flex-grow: 3;
}

.orders tr td:nth-child(3) {
    border-right: 1px solid rgba(46, 46, 46, 0.42);
    flex-grow: 2;
}
.orders tr td:nth-child(4) {
    flex-grow: 1;
}
.orders tr{
    display:flex;
}
.orders td{
    flex: 1 0 0;
    padding: 0;
}
